body{
    display:flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.note-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width:80%;
    height: 100vh;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #e8eefd; 
}

.user-note {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.5;
    overflow-wrap: break-word;   /* Modern version of word-wrap */
    word-break: break-word;   /*   Ensures it doesn't push the parent width */
    
}

.note-card {
    display: flex;
    align-items: center;
    margin-left: 90px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    max-width: 800px;
}


.card-image img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 20px;
}


.card-content {
    flex-grow: 1;
    min-width: 0;
}

.company-name {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #333;
}

.user-note {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.5;
}
.card-action{
    display: flex;
    flex-direction: row;
}
.card-action button {
    color: #888;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
}
.edit:hover{
    background-color: #1DB954;
    color: black;
    transition: all 0.8s;
}
.delete:hover{
    background-color: maroon;
    color: white;
    transition: all 0.8s;
}