body{
    display:flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.note-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width:80%;
    height: 100vh;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #e8eefd; 
}

.user-note {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.5;
    overflow-wrap: break-word;   /* Modern version of word-wrap */
    word-break: break-word;   /*   Ensures it doesn't push the parent width */
    
}

.note-card {
    display: flex;
    align-items: center;
    margin-left: 90px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    max-width: 800px;
}


.card-image img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 20px;
}


.card-content {
    flex-grow: 1;
    min-width: 0;
}

.company-name {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #333;
}

.user-note {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.5;
}
.card-action{
    display: flex;
    flex-direction: row;
}
.card-action button {
    color: #888;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
}
.edit:hover{
    background-color: #1DB954;
    color: black;
    transition: all 0.8s;
}
.delete:hover{
    background-color: maroon;
    color: white;
    transition: all 0.8s;
}

.user-note[contenteditable="true"] { /* conditional logic in css didnt know that */
    outline: 2px dashed #007bff;
    padding: 5px;
    background-color: #fcfcfc;
    border-radius: 4px;
}
.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-secondary { background: #eee; border: none; padding: 10px 20px; border-radius: 8px; cursor: pointer; }
.btn-danger { background: #ff4d4d; color: white; border: none; padding: 10px 20px; border-radius: 8px; cursor: pointer; }

.empty-msg{
    text-align: center;
}