*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: none;
    flex-direction: column;
     background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    position: fixed;
    top: 0; left: 10; width: 100%; height: 95%;
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 50%;
}
.form-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.form button{
    border: solid 1px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#name{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}
#role,#status,#msg{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
}

#role{
    width: 290px;
}
#status{
    width: 290px;
}
#date{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}

.table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 80%;
}
.head{
    border-bottom: solid 1px black;
}
td,th{
    border-right: solid 1px black;
    padding: 15px;
}
td{
    border-bottom: solid 1px black;
}
.name, .role, .date, .status, .notes{
    display: flex;
    flex-direction: column;
}
.notes{
    margin-left: 70px;
}
.name > label{
    margin-bottom: 10px;
}
.role > label{
    margin-bottom: 10px;
}
.status > label{
    margin-bottom: 10px;
}
.notes > label{
    margin-bottom: 10px;
}
.date > label{
    margin-bottom: 10px;
}
.links{
    display: flex;
    gap: 59em;
    margin-bottom: 20px;
}
.notes-tab{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #A7C7E7;
}
.job-form{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #04c956;
}
