*{
    box-sizing: border-box;
}
.form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 50%;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#name{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}
#role,#status,#msg{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
}
#role{
    width: 290px;
}
#status{
    width: 290px;
}
#date{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}
.role{
    margin-left: 70px;
}
.date{
    margin-left: 15px;
}
.status{
    margin-left: 60px;
}
.notes{
    display: flex;
    align-items: center;
}

.table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 80%;
}
.head{
    border-bottom: solid 1px black;
}
td,th{
    border-right: solid 1px black;
    padding: 15px;
}