*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 50%;
}
.form button{
    border: solid 1px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#name{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}
#role,#status,#msg{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
}

#role{
    width: 290px;
}
#status{
    width: 290px;
}
#date{
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    width: 290px;
}

.table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 80%;
}
.head{
    border-bottom: solid 1px black;
}
td,th{
    border-right: solid 1px black;
    padding: 15px;
}
td{
    border-bottom: solid 1px black;
}
.name, .role, .date, .status, .notes{
    display: flex;
    flex-direction: column;
}
.notes{
    margin-left: 70px;
}
.name > label{
    margin-bottom: 10px;
}
.role > label{
    margin-bottom: 10px;
}
.status > label{
    margin-bottom: 10px;
}
.notes > label{
    margin-bottom: 10px;
}
.date > label{
    margin-bottom: 10px;
}