*{
    box-sizing: border-box;
}
.form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 50%;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 80%;
}
.head{
    border-bottom: solid 1px black;
}
td,th{
    border-right: solid 1px black;
    padding: 15px;
}